@page "{handler?}"
@model EditCustomerModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditCustomer";
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>EditCustomer</title>
    </head>
    <body>

    </body>
</html>